<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PaymentGateway"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".imagepick.MultipleImagePicker"
            android:exported="false" />
        <activity
            android:name=".ExploreViewDetails"
            android:exported="false" />
        <activity
            android:name=".CrashActivity"
            android:exported="false" />
        <activity
            android:name=".RentAllMainAactivity"
            android:exported="false" />
        <activity
            android:name=".CompressorImage"
            android:exported="false" />
        <activity
            android:name=".CropImage"
            android:exported="false" />
        <activity
            android:name=".VideoPlayer"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".AudioPlayer"
            android:exported="false" />
        <activity
            android:name=".MediaOptions"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="god"
                    android:scheme="com.example.paymentgateway" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LinkedInLoginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="skype" />
            </intent-filter>
            <intent-filter
                android:icon="@drawable/skype"
                android:priority="0">
                <action android:name="android.intent.action.CALL_PRIVILEGED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tel" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>